html{
	position: relative;
}

body {
	margin-top: 50px;
	margin-bottom: 120px;
}
.jumbotron img {
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron {
	height: 400px;
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -115px;
	color: #eaeaea;
	overflow: hidden;
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr{
	width: 250px;
	border-top: 3px solid #999
}

section {
	min-height: 600px;
}

.pkiri, .pkanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 2s;
}

.pkanan {
	opacity: 0;
	transform: translate(50px, 0);
}

.pkiri.pMuncul, .pkanan.pMuncul {
	opacity: 1;
	transform: translate(0, 0);
}

.portofolio {
	background-color: #eee
}

.portofolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1s;
}

.portofolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 100px;
	background-color:#333;
	padding-top: 20px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p i {
	color: salmon;
}

